@charset "UTF-8";

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	
}

.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}
.header{
	float: left; 
	margin-top: 1%;
}
.signinbtn, .signupbtn {


	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
}
.signupbtn{
	    margin-left:10%;
}





@media screen and (max-width: 300px) {
	.cancelbtn, .signupbtn {
		width: 100%;
	}
}