<div class="navigate">
	<nav class="navbar navbar-default"></nav>
</div>

<div class="wrapper">
	<div class="container">
		<nav id="sidebar">

			<ul class="list-unstyled components">


				<li><a href="google.com">Notes</a></li>



				<li><a href="google.com">Reminders</a></li>
			</ul>
			<ul class="list-unstyled components">
				<li><a href="google.com">Labels</a></li>

				<li><a href="google.com">Create new label</a></li>
			</ul>
			<ul class="list-unstyled components">
				<li><div class="row sidebar-row">Archive</div></li>
				<li><div class="row sidebar-row">Trash</div></li>
			</ul>
			<ul class="list-unstyled components">
				<li><div class="row sidebar-row">Settings</div></li>


				<li><div class="row sidebar-row">Send Feedback</div></li>
				<li><div class="row sidebar-row">Help</div></li>
				<li><div class="row sidebar-row">Trash</div></li>
				<li><div class="row sidebar-row">App Downloads</div></li>

				<li><div class="row sidebar-row">KeyBoard Shortcuts</div></li>

			</ul>
		</nav>
	</div>

</div>


