


<navbar></navbar>


<sidebar></sidebar>
<div class="wrapper" >
	<div class="container" ng-init="showthis=true"
		style="margin-top: 10%; margin-left: 15%;">

		<!-------------------------- createNote -------------------------------------------------------->
		<div class=row>

			<div class=bootcreate ng-show="showthis">
				<div class="show-create col-md-9"
					ng-click="show=true; showthis=false">
					<label>take a note</label>
				</div>
			</div>
			<div class="bootcreatenote" ng-show="show">
				<div class="create-note col-md-9">
					<div class="row noteadd">

						<div ng-model="note.title" role="textbox"
							style="width: 80%; outline: none;" contentEditable="true"
							class="addTitle" contenteditable data-placeholder="title"></div>
					</div>
					<hr></hr>
					<div class="row noteadd">


						<div role="textbox" ng-model="note.description" class="addTitle"
							style="width: 80%; outline: none" aria-multiline="true"
							contentEditable="true" contentedittable
							data-placeholder="take a note"></div>
					</div>
					<hr></hr>
					<div class="row noteadd">
						<input type="submit"
							ng-click="addNote(note);show=false;showthis=true"
							class="noteenter">
					</div>
				</div>

			</div>

		</div>

		<!-------------------- display notes ------------------------------------->




		<div class="row collapsed col-lg-12" id="display-notes">
			<div id="note" clicknote
				ng-repeat=" note in
					noteList|orderBy
					:'-date'|filter:{trash:false}|filter:{archive:false}"
				class="{{checked}}">



				<div class="row noteadd">

					<div ng-bind-html="note.title" ng-click="openCustomModal(note);"></div>
				</div>


				<hr></hr>
				<div class="row noteadd">

					<div ng-bind-html="note.description"
						ng-click="openCustomModal(note);" class="desc flex-container"></div>
				</div>



				<div class="row noteadd">

					<div class="displayinfo" ng-model="note.reminder">{{note.reminder
						| date:'MMM-dd HH:mm a '}}</div>
				</div>



				<div data-ng-init="getAllCollaborators(note);">

					<div ng-if="user.email!=note.user.email">
						<div>{{note.user.email}} (owner)</div>
					</div>
					<div class="row noteadd "
						ng-repeat="collaborator in note.collaborators">

						<div
							ng-if="user.email!=collaborator.email && collaborator.email!=note.user.email">

							<div class="displayinfo">
								{{collaborator.email}}<span class="glyphicon glyphicon-remove"
									ng-click="removeCollaborators(note,collaborator);"></span>
							</div>
						</div>
					</div>

				</div>
				<div class="row noteadd">

					<span class="input-group-btn" style="width: 10px;"
						datetime-picker="MM/dd/yyyy HH:mm" ng-model="note.reminder"
						is-open="ctrl.date.showFlag"></span> <img src="img/reminder.svg"
						style="width: 18px;"
						ng-click="ctrl.date.showFlag = true;editrem=true;setReminder(note)"></img>
					<i class="fa fa-calendar"></i> <img src="img/colloborator.svg"
						ng-click="openCollabModal(note);getemails()" style="width: 18px;"></img>

					<archivebutton></archivebutton>

				</div>



			</div>
			<!------------------------------->

		</div>
	</div>