


<div class="container">
	<label><b>Email</b></label> <input type="text"
		placeholder="Enter email" name="uname" required ng-model="user.email">
	<label><b>Password</b></label> <input type="password"
		placeholder="Enter Password" name="psw" ng-model="user.password">

	<button type="button" ng-click="loginUser()">Login</button>
	<input type="checkbox" checked="checked"> Remember me
</div>

<div class="container" style="background-color: #f1f1f1">

	<a href="#!/register"><button type="button" class="cancelbtn">register</button></a>
	<span class="psw">Forgot <a href="#">password?</a></span>
</div>
	<div
		style="margin: 0 auto;  height: 360px; width: 610px;">
		<a href="/ToDoApp/user/fbConnect"> <img
			style="margin-top: 138px;" src="img/facebookloginbutton.png" />
		</a>
	</div>
