


<div class="container">
	<label><b>Email</b></label> <input type="text"
		placeholder="Enter email" name="uname" required ng-model="user.email">
	<label><b>Password</b></label> <input type="password"
		placeholder="Enter Password" name="psw" ng-model="user.password">


	<div class="clearfix">
		<button type="button" ng-click="loginUser()" class="login">Login</button>
		<a href="#!/register"><button type="button" class="registerbtn">register</button></a>
		<span class="psw">Forgot <a href="#">password?</a></span>
	</div>

	<div style="margin-left: 10px;">
		<a href="/ToDoApp/user/fbConnect"> <img
			style="margin-top: 18px; float: left; width: 40%; height: 50px;"
			src="img/facebookloginbutton.png" />
			
		</a>
		<a href="/ToDoApp/user/googleConnect"> <img
			style="margin-top: 18px; float: left; width: 40%; height: 50px;"
			src="img/signin-button.png" />
			
		</a>
	</div>
</div>