<div class="navigate">
	<nav class="navbar fixed-top navbar-default ">

		<div class="container">
			<div class="row">
				<!-- <button id="sidebarCollapse" sidebarcollapse > -->

				<i class="navbar-brand glyphicon glyphicon-align-justify col-lg-2"
					sidebarcollapse></i>
				<!-- </button> -->
				<div class=col-lg-7></div>
				<div class=col-lg-1>
					<i class="navbar-brand 	glyphicon glyphicon-th-list"
						ng-click=changeview();></i>
				</div>
				<div class=col-lg-1></div>

				<div class="dropdown navbar-right">
					<div class="btn dropdown-toggle" type="button"
						data-toggle="dropdown" ng-click="getuser();">
						<img src="img/10-dithering-opt.jpg" class="img-circle"
							style="height: 35px;">
					</div>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
						<li><div>{{user.name}}</div></li>
						<li><div>{{user.email}}</div></li>
						<li><div class="signout" ng-click=signout();>signout</div></li>
					</ul>

				</div>
			</div>
		</div>
	</nav>
</div>
