

	
		<div class="container">
			<label><b>Name</b></label> <input type="text"
				placeholder="Enter name" name="name" ng-model="user.fname">
				
				 <label><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" required ng-model="user.email">

			<label><b>Password</b></label> <input type="password"
				placeholder="Enter Password" name="psw" required ng-model="user.password"> 
				<label><b>Number</b></label>
			<input type="text" placeholder="Enter name" name="number" ng-model="user.number"> <label><b>Password</b></label>
			
			<div class="clearfix">
			<a href="#!/login">	<button type="button" class="cancelbtn">Sign in</button></a>
				<button type="submit" class="signupbtn" ng-click="registerUser()">Sign Up</button>
			</div>
		
		</div>


