
	<nav id="sidebar" class="navbar  fixed-left">
		<div class="container-fluid collapse in">
			<div class="row">
				<ul class="list-unstyled components">


					<li><a href="#!/home">Notes</a></li>
					<li><a href='#!/reminder'>Reminders</a></li>

				</ul>
			</div>
			<div class="row">
				<ul class="list-unstyled components">
					<li><a>Labels</a></li>

					<li ng-click="openLabelModal">Create new label</li>
				</ul>
			</div>
			<div class="row">
				<ul class="list-unstyled components">
					<li><a href="#!/archive">Archive</a></li>
					<li><a href="#!/trash">Trash</a></li>
				</ul>
			</div>
			<div class="row">
				<ul class="list-unstyled components">
					<li><a>Settings</a></li>


					<li><a>Send Feedback</a></li>
					<li><a>Help</a></li>
					
					<li><a>App Downloads</a></li>

					<li><a>KeyBoard Shortcuts</a></li>
				</ul>
			</div>
		</div>

	</nav>